<div class="content-area">
  <mat-card>
    <div class="form-heading">Login</div>
    <br>
    <br>
    <form class="my-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div fxLayout="column" fxLayoutGap="20px">
        <div>
          <mat-form-field>
            <mat-label>Nombre de usuario</mat-label>
            <input matInput type="text" id="username" name="username" [(ngModel)]="credentials.username" ngModel class="form-control" placeholder="Nombre de usuario" required autofocus>
          </mat-form-field>
        </div>
        <br><br>
        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" name="password" [(ngModel)]="credentials.password" ngModel class="form-control" placeholder="Contraseña" required>
            <br />
          </mat-form-field>
        </div>
        <br>
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
