<div *ngIf="isUserAuthenticated()" style="color:mediumpurple;">
  <mat-tab-group>
    <mat-tab label="Crear"> Crear </mat-tab>
    <mat-tab label="Consultar"> Consultar </mat-tab>
    <mat-tab label="Editar"> Editar </mat-tab>
  </mat-tab-group>
</div>

<div class="buttons-area">
  <div *ngIf="!isUserAuthenticated()" style="color:mediumpurple;">
    <button mat-raised-button color="primary" type="submit" (click)="accessLogin()">Ingresar</button>
  </div>
  <mat-card>
  </mat-card>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
