/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*
body {
  padding: 20px;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.logout:hover {
  cursor: pointer;
}

ul li {
  text-decoration: none;
  list-style: none;
  font-size: 25px;
}
*//*

.example-form {
  min-width: 150px;
  max-width: 500px;
  margin-left: 50px;
  margin-top: 100px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}*/
/*
div.parent {
    display: flex;
}*/

.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-row-gap: 2em;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header header buttons"
    "content"
    "footer footer footer";
}

.buttons-area {
  grid-area: buttons;
  justify-content: flex-end
}

.header-area {
  grid-area: header;
}

.content-area {
  grid-area: content;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 { font-size: larger }

.footer-area {
  grid-area: footer;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

